<% layout("/layouts/boilerplate.ejs") %>
    <div class="row">
        <div class="col-8 offset-2">

            <br>
            <h3>Edit your listing</h3><br>
            <form method="post" action="/listing/<%= listing._id %>?_method=PUT" novalidate class="needs-validation">

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" value="<%= listing.title %>" required class="form-control">
                    <div class="valid-feedback">
                        Title Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Enter Title
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" required value="<%= listing.description %>"
                        class="form-control"><%= listing.description %></textarea>
                </div>


                <div class="mb-3">
                    <label for="image" class="form-label">Image URL</label>
                    <input type="text" name="listing[image]" required value="<%= listing.image %>" class="form-control">
                </div>


                <div class="row">

                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" required value="<%= listing.price %>" class="form-control" />
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" required value="<%= listing.location %>"
                            class="form-control">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" required value="<%= listing.country %>" class="form-control">
                </div>
                <br>
                <button class="btn btn-dark edit-btn">Edit</button>
            </form>
        </div>
    </div>